body {
  margin: 0;
  background-color: lightblue;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Typography */

h1 {
  margin: .8125rem 0 0 0;
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  line-height: 4rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.hero {
  /* background-color: yellow; */
  background-image: url("../assets/bg-hero.jpg");
  color: white;
  display: flex;
  padding: 16rem;
}

.hero .container {
  margin: 0 auto;
}

.hero h2 {
  margin: 2.5rem 0 0 0;
  color: rgba(255, 255, 255, 0.7);
}